.post{
    margin-bottom: 7rem;
}
.post > div{
    flex: 0 0 45%;
    margin-bottom: 5rem;
}
.post h2,p{
    color: white;
}
.post img{
    width: 100%;
}

@media (max-width: 992px) {
    .post > div{
        flex: 0 0 54%;
    }
}